.box {
	BACKGROUND-IMAGE: url("intro_1.png")
		/*tpa=http://www.yunhsn.com/img/intro_1.png*/;
	BACKGROUND-COLOR: #ffffff;
	WIDTH: 960px;
	BACKGROUND-REPEAT: repeat-y;
	OVERFLOW: hidden
}

.wrapper {
	BACKGROUND-IMAGE: url("intro_4.png")
		/*tpa=http://www.yunhsn.com/img/intro_4.png*/;
	MIN-HEIGHT: 400px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left bottom;
	CLEAR: both;
	OVERFLOW: hidden
}

.col1 {
	BACKGROUND-IMAGE: url("intro_3.png")
		/*tpa=http://www.yunhsn.com/img/intro_3.png*/;
	WIDTH: 256px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0px 0px;
	FLOAT: left
}

.col2 {
	WIDTH: 704px;
	FLOAT: left
}

.col1 UL {
	PADDING-TOP: 24px
}

.col1 LI {
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: 32px;
	PADDING-LEFT: 43px;
	PADDING-RIGHT: 0px;
	FONT-SIZE: 14px;
	PADDING-TOP: 2px
}

.col1 LI A {
	DISPLAY: inline-block;
	TEXT-DECORATION: none
}

.col1 LI A:visited {
	DISPLAY: inline-block;
	TEXT-DECORATION: none
}

.col1 LI A:hover {
	COLOR: #0089fe
}

.lanmu LI A:hover {
	COLOR: #0089fe
}

.col1 LI.on {
	
}

.col1 LI.on A {
	BACKGROUND-IMAGE: url("intro_5.png")
		/*tpa=http://www.yunhsn.com/img/intro_5.png*/;
	PADDING-RIGHT: 10px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: right center;
	COLOR: #0089fe
}

.col1 LI.on A:visited {
	BACKGROUND-IMAGE: url("intro_5.png")
		/*tpa=http://www.yunhsn.com/img/intro_5.png*/;
	PADDING-RIGHT: 10px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: right center;
	COLOR: #0089fe
}

.col1 LI.on A:hover {
	BACKGROUND-IMAGE: url("intro_5.png")
		/*tpa=http://www.yunhsn.com/img/intro_5.png*/;
	PADDING-RIGHT: 10px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: right center;
	COLOR: #0089fe
}

.cot {
	MARGIN: 25px;
	WIDTH: 654px;
	OVERFLOW: hidden
}

.cota {
	MARGIN: 15px;
	WIDTH: 654px;
	OVERFLOW: hidden
}

.cot H2 {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 38px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	FONT-FAMILY: Microsoft YaHei, simsun;
	MARGIN-BOTTOM: 16px;
	BACKGROUND: #f2f7fc;
	HEIGHT: 38px;
	CLEAR: both;
	FONT-SIZE: 16px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}

.cot H3 {
	BACKGROUND-IMAGE: url("buy_1.png")
		/*tpa=http://www.yunhsn.com/img/buy_1.png*/;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 24px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 0px 8px;
	FONT-SIZE: 14px;
	PADDING-TOP: 0px
}

.cot H4 {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 24px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	FONT-SIZE: 14px;
	PADDING-TOP: 0px
}

.cot P {
	TEXT-ALIGN: left;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 24px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	MARGIN-BOTTOM: 12px;
	PADDING-TOP: 0px
}

.cot P.img {
	TEXT-ALIGN: center
}

.cot IMG {
	MARGIN: 10px 0px -6px 0px;
}

.cot TABLE {
	MARGIN: 6px 0px;
	BORDER-COLLAPSE: collapse;
	FONT-SIZE: 12px
}

.cot TH {
	BORDER-BOTTOM: #3399ff 1px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #3399ff 1px solid;
	BACKGROUND: #daebf7;
	HEIGHT: 30px;
	COLOR: #3d78a5;
	FONT-SIZE: 12px;
	BORDER-TOP: #3399ff 1px solid;
	BORDER-RIGHT: #3399ff 1px solid
}

.cot TH.fir {
	BACKGROUND: #ffffff
}

.cot TD {
	BORDER-BOTTOM: #3399ff 1px solid;
	TEXT-ALIGN: left;
	BORDER-LEFT: #3399ff 1px solid;
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	BACKGROUND: #f1f7fc;
	HEIGHT: 18px;
	FONT-SIZE: 12px;
	BORDER-TOP: #3399ff 1px solid;
	BORDER-RIGHT: #3399ff 1px solid;
	PADDING-TOP: 3px
}

.cot TD.fir {
	BACKGROUND: #f3f3f3
}

.cot TD.even {
	BACKGROUND: #ffffff
}

.cot .ul {
	LIST-STYLE-POSITION: inside;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: disc;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	MARGIN-BOTTOM: 18px;
	PADDING-TOP: 0px
}

.cot .ul LI {
	LINE-HEIGHT: 24px
}

.base_gn .base_list {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	FLOAT: left;
	CLEAR: both;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}

.base_gn .base_list LI {
	WIDTH: 159px;
	FLOAT: left;
	HEIGHT: 58px;
	OVERFLOW: hidden
}

.base_gn .base_list LI H3 {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-TOP: 0px
}

.base_gn .base_list LI.on A {
	COLOR: #0089fe
}

.base_gn .base_list LI.on visited {
	COLOR: #0089fe
}

.base_gn .base_list LI.on:hover {
	COLOR: #0089fe
}

.base_gn .base_list LI P {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 20px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	COLOR: #666666;
	PADDING-TOP: 0px
}

.sub_nav {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 8px;
	WIDTH: 666px;
	PADDING-RIGHT: 8px;
	MARGIN-BOTTOM: 24px;
	CLEAR: both;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}

.sub_nav LI {
	LINE-HEIGHT: 38px;
	WIDTH: 200px;
	DISPLAY: inline-block;
	FLOAT: left;
	HEIGHT: 38px;
	FONT-SIZE: 14px;
	OVERFLOW: hidden;
	MARGIN-RIGHT: 19px
}

.sub_nav LI.on A {
	COLOR: #0089fe
}

.sub_nav LI.on A:visited {
	COLOR: #0089fe
}

.sub_nav LI.on A:hover {
	COLOR: #0089fe
}

.lanmu2 {
	PADDING-BOTTOM: 0px;
	MARGIN: 25px;
	PADDING-LEFT: 0px;
	WIDTH: 654px;
	PADDING-RIGHT: 0px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}

.lanmu {
	WIDTH: 704px;
	FLOAT: right
}

.lanmu LI {
	BACKGROUND-IMAGE: url("intro_5.png")
		/*tpa=http://www.yunhsn.com/img/intro_5.png*/;
	BORDER-BOTTOM: #cccccc 1px dashed;
	LINE-HEIGHT: 35px;
	LIST-STYLE-TYPE: none;
	PADDING-LEFT: 15px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	LIST-STYLE-IMAGE: none
}

.lanmu2 SPAN {
	FLOAT: right;
	COLOR: #185d94
}

.lanmu2 LI A {
	LIST-STYLE-TYPE: none;
	COLOR: #212021;
	LIST-STYLE-IMAGE: none
}

.seo_pages {
	LINE-HEIGHT: 35px
}

.seo_pages UL {
	PADDING-BOTTOM: 12px;
	PADDING-LEFT: 16px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	PADDING-TOP: 12px
}

.seo_pages UL LI {
	BACKGROUND-IMAGE: none;
	BORDER-BOTTOM: #e9e9e9 1px solid;
	BORDER-LEFT: #e9e9e9 1px solid;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 17px;
	MARGIN: 0px 6px 0px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: Tahoma;
	FLOAT: left;
	BORDER-TOP: #e9e9e9 1px solid;
	BORDER-RIGHT: #e9e9e9 1px solid;
	PADDING-TOP: 0px
}

.seo_pages UL LI A {
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	DISPLAY: block;
	FLOAT: left;
	COLOR: #555;
	PADDING-TOP: 2px
}

.sec {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	COLOR: #008aff;
	PADDING-TOP: 0px
}

.seo_pages UL LI A:hover {
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	COLOR: #690;
	TEXT-DECORATION: none;
	PADDING-TOP: 2px
}

.seo_pages UL LI.thisclass {
	PADDING-BOTTOM: 2px;
	BACKGROUND-COLOR: #f8f8f8;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 2px
}

.seo_pages UL LI.thisclass A {
	PADDING-BOTTOM: 2px;
	BACKGROUND-COLOR: #f8f8f8;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 2px
}

.pagebox UL LI.thisclass A:hover {
	PADDING-BOTTOM: 2px;
	BACKGROUND-COLOR: #f8f8f8;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 2px
}

.seo_pages .pageinfo {
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	FLOAT: left;
	COLOR: #999;
	PADDING-TOP: 2px
}

.seo_pages .pageinfo STRONG {
	MARGIN: 0px 2px;
	COLOR: #555;
	FONT-WEIGHT: normal
}

.xiangguan {
	WIDTH: 654px;
	FLOAT: left
}

.xgwz {
	BORDER-BOTTOM: #cccccc 1px dashed;
	LINE-HEIGHT: 30px;
	WIDTH: 95%;
	MARGIN-BOTTOM: 5px;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold
}

.xiangguan UL {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	PADDING-TOP: 0px
}

.xiangguan LI {
	BACKGROUND-IMAGE: url("ico-1.gif")
		/*tpa=http://www.yunhsn.com/img/ico-1.gif*/;
	LINE-HEIGHT: 25px;
	PADDING-LEFT: 10px;
	WIDTH: 315px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	FLOAT: left
}